@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

body{
    padding: 0;
    margin: 0;
}

.page-header{
    height: max(5vw);
    background: #755E9C;
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.page-header__logo{
    height: 100%;
}

.page-header__link{
    vertical-align: center;

    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 2vw;
    line-height: 100%;
    white-space: nowrap;
    padding-right: 1em;
    color: #FFACAC;
    text-shadow: 6px 4px 4px #000000;
}


.page-header__get-started__icon{
    height: 60%;

    padding-left: 5vw;
    background-blend-mode: darken;
    border-radius: 109px
}

.page-main__background{
    width: 100vw;
    height: 80vh;
}

.page-main h1{
    position: absolute;
    width: 490px;
    height: 196px;
    left: 215px;
    top: 228px;

    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: min(8vw, 8vh);
    line-height: 104px;

    color: #FFACAC;

    text-shadow: 20px 4px 4px #000000;
}

.page-main{
    display: grid;
}

.page-main__search{
    position: absolute;
    width: 60vw;
    /*margin: auto;*/
    height: 99px;
    left: 165px;
    top: 70%;
    /*background: #FDFAFF;*/
    background-image: url("assets/search.png");
    background-repeat: no-repeat;
    background-position: 5% 50%;
    border-radius: 60px;

}

.page-header__link:hover{
    animation: anim 0.3s;
}

.page-main__search:hover{
    animation: anim 0.3s;
}

.workspace{
    background: linear-gradient(45deg, #060F2A, #302D77);
    height: 20vh;
    margin: 0;
    padding: 0;
}

footer{
    display: flex;
    background: linear-gradient(45deg, #060F2A, #302D77);
    justify-content: right;
    height: 5vh;
}

footer h3{
    color: #FFACAC;
    font-family: Montserrat, sans-serif;
}

footer .page-footer__lazybones{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}


@media (max-width: 1000px) {
    .page-main__search{
        animation: anim 0.3s normal;

    }
}

@keyframes anim {
    0%{
        transform: rotate(0deg) scale(1);
        color: red;
    }
    25%{
        transform: rotate(1deg) scale(0.9);
        color: yellow;
    }
    50%{
        transform: rotate(-1deg) scale(1.1);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}