html{
    background: #ffffff;
}

#particles-js{
    position: relative;
    z-index: 1;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #ff8100, #ad00ff);
}
#particles-js-1{
    position: absolute;
    /*background: #4F00BC;*/
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
#particles-js-2{
    position: absolute;
    /*background: #44C1EB;*/
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
