body {
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
}

.page-header {
    text-align: center;
}

.page-header__controls {
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: center;
    gap: 0.5em
}

.page-header__controls__control {
    padding: 0.5em;
    background: lightgrey;
    border-radius: 1em;
}

.charts-container {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    background: lightgray;
    border-radius: 2em;
}

.chart-bundle {
    background: white;
    overflow: hidden;
    border: gray 0.25em solid;
    border-radius: 2em;
    content-visibility: auto;
    height: 20vw;
    display: flex;
    flex-flow: column;
}

.chart-bundle__header {
    /*background: hotpink;*/
    /*margin: 0 10% 0 10%;*/
    /*padding: 0 1em 0 1em;*/
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    flex-grow: 0;
}

.chart-bundle__header__symbol {
    /*background: lightblue;*/
    margin: 0.25em;
    padding: 0;
    font-size: x-large;
    font-weight: bold;
}

.chart-bundle__header__volume {
    /*background: lightsalmon;*/
}

.chart-bundle__header__capitalization {
    /*background: lightcoral;*/
}

.chart-bundle__header__percent-change {
    /*background: lightyellow;*/
}

.chart-bundle__div {
    flex-grow: 1;
    background: deepskyblue;
    border-top: black 0.25em solid;
}

.page-footer {
    text-align: center;
}

#debug-container {
    position: sticky;
    margin: 0 auto;
    width: 90%;
    height: 20%;
    padding: 1em 2em 1em 2em;
    background: rgba(0, 0, 0, 0.6);
    bottom: 5%;
    color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
